<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>

  <header>

    <div class="Pai">
      <div class="filho"><img src="assets/IMAGENSionic/menu (1) 1.png"/></div>
      <div class="filho"><img src="assets/IMAGENSionic/nikeVerde.png" id="nike"/></div>
      <div class="perfil">
        <div class="filho"><img src="assets/IMAGENSionic/Perfil.png" id=""/></div>
      </div>
    


    </div>
  </header>

  <div class="tenisis">
    <div class="tenis1">
      <div class="baguiBonito"><img src="assets/IMAGENSionic/image-removebg-preview (3) 2.png" id="tenis1" /></div>
    </div>
    <div class="baguiBonito"><img src="assets/IMAGENSionic/image-removebg-preview 1.png" /></div>
    <div class="baguiBonito"><img src="assets/IMAGENSionic/image 1 (2).png" /></div>
    </div>
    
    <img src="assets/IMAGENSionic/image-removebg-preview (3) 2-1.png"/>

    <h1>KYRIE INFINITY</h1>
    <H2>Calçados para basquete</H2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</p>
    <h2>Preço</h2>

    <footer>

      <h1>$ 799</h1>
 
      <div class="final">
        <div class="share">
          <img src="assets/IMAGENSionic/share 1.png"/>
        </div>
        <div class="shop">
          <img src="assets/IMAGENSionic/shopping-bag 1.png"/>
        </div>
        
      </div>
    </footer>
   
    
    


</ion-content>
