
  <ion-header [translucent]="true">
  
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
       
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>

      
    </ion-header>
  
    <header>
      <div class="image1">
        <img src="assets/IMAGENSionic/nikeLOGO.png"/>
      </div>
    
    </header>
   
        <div class="tenisK">
          <img src="assets/IMAGENSionic/image-removebg-preview (3) 2-1.png" />
        </div>
 
        <h1>SUMMER COLLECTIONS</h1>
        <h2>2022</h2>
        <div class="p1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div class="button1">
          <ion-button id="btnLog" shape="round" (click)="showMenu()">Get started</ion-button>
        </div>

  </ion-content>

