
  <ion-header [translucent]="true">
    <ion-img href="https://th.bing.com/th/id/R.076b6d8ab2dac32c10f6b45e6e3a19e9?rik=xv5JYSi%2biPfSww&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fnike-logo-png-nike-logo-png-4944.png&ehk=yVOYzipsWYfYKytJvO6LNCkW%2brZhFoXJuvygRXYp3HM%3d&risl=&pid=ImgRaw&r=0"></ion-img>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
        
  
        <h1>SUMMER COLLECTIONS</h1>
        <h1>2022</h1>
        
    
      
    </div>
  </ion-content>
  
</div>
